/* цвет основного текста */
/* вторичный цвет */
/* цвет акцента */
/* вторичный цвет фона */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* logo */
.logo {
  color: var(--title-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

/* hero */
.hero-title {
  color: var(--title-text-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.feature-list .title {
  color: var(--title-text-color);
}

.feature-list .link {
  color: var(--accent-color);
}

/* examples */
.work-list .title {
  color: var(--title-text-color);
}

/* button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
